<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.icode.electionbeater">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.activities.SplashScreenActivity" />
        <activity android:name=".Activities.activities.SliderView" />
        <activity android:name=".Activities.activities.AdminLoginActivity" />
        <activity android:name=".Activities.activities.AdminPanel" />
        <activity android:name=".Activities.activities.App_Info" />
        <activity android:name=".Activities.activities.App_Info_Admin" />
        <activity android:name=".Activities.activities.CastVoteActivity" />
        <activity android:name=".Activities.activities.LoginActivity" />
        <activity android:name=".Activities.activities.RegisterCandidateActivity" />
        <activity android:name=".Activities.activities.RegisterActivity" />
        <activity android:name=".Activities.activities.RegistrationActivity" />
        <activity android:name=".Activities.activities.ViewResults" />
    </application>

</manifest>